#body{
  background-color: black;
}

.tall{
  height: 200px;
}

hr{
  width: 70%;
}

.well{
  background: #888888;
  color: black;
  border-color: darkblue;
}

.wrapIt{
  word-wrap:break-word;
}

.text-color-gray{
  color: #888888;
}

.topSpacing{
  margin-top: 60px;
}
