<div class="container text-color-gray">
    <form class="col-md-8 backdrop" ng-submit = "createDream()">
        <div class="form-group well">
            <label for="Dream Title">Dream Title:</label>
            <input type="text" class="form-control" placeholder="If this dream were a book, what would you call it?" ng-model="dreamData.title">
        </div>
        <div class="form-group well">
            <label for="Description">Description:</label>
            <textarea class="form-control" rows="10" placeholder="What happened?" ng-model="dreamData.events"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit Dream</button>
    </form>
</div>
